<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Node Ten Tweets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
    <div class="wrapper">
        <header>
            <h1 class="ui center aligned header">Showing 10 latest tweets for the hashtag #<%= tweetQuery %></h1>
        </header>
        <div class="ui text container">
            <div class="ui items">
                <% for(var i=0; i<tweets.length; i++) {%>
                    <div class="item">
                        <div class="ui tiny image">
                            <img src="<%= tweets[i].user.profile_image_url %>">
                        </div>
                        <div class="content">
                            <div class="header">
                                <%= tweets[i].user.name %>
                            </div>
                            <div class="description">
                                <%= tweets[i].text %>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
</body>

</html>
